html,body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color:white;
    font-family: courier new;
}

#renderCanvas{
    width: 100%;
    height: 100%;
    touch-action: none;
    z-index: 1;
}

#loadingScreen{
    /*display: none;*/
    width: 100%;
    height: 200px;
    z-index: 2;
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,0.5);
}

#loadingScreen > *{
    position: fixed;
    left: 50%;
}

#loadingScreen > span{
    /*margin: auto 0 0 8px;*/
    font-weight: bold;
    font-size: 40pt;
    transform:translateX(-50%);
    margin-top:130px;
}

#loadingScreen > img{
    transform:translateX(-50%);
    filter: grayscale(1) brightness(1);
}

#menu{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 45px;
    z-index: 2;
    position: absolute;
    top: 0px;
}

.button_rem{
    width: 20px;
    margin-left: 5px;
    position: relative;
    top: 5px;
    cursor: pointer;
    filter:invert(100%);
}

.div_search{
    position: absolute;
    z-index: 2;
    left: 40px;
    top: 50px;
    background-color: rgba(0,0,0,0.5);
}

.div_search > select{
    width: 100px;
    padding: 5px;
    margin: 5px;
}

.div_search > input{
    padding: 5px;
    margin: 5px;
}


#button_fullscreen{
    left: 10px;
}

#button_add{
    left:60px;
    filter:invert(100%);
}

.buttons{
    position: relative;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top:5px;
}

#select_order{
    position:relative;
    z-index: 2;
    width: 100px;
    cursor: pointer;
    top:-5px;
    left:120px;
    padding: 5px;
    /*margin: 5px;*/
}

#show{
    display: none;
    position: absolute;
    z-index: 3;
    width: 95%;
    height: 90%;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-48%);
    background-color: rgba(0,0,0,0.5);

    /*border: 1px solid black;*/
    /*border-radius: 10px;*/
}

#show > table{
    position: relative;
    top: 50%;
    transform:translateY(-50%);
    left:40px;
    width:50%;
}

#show_image{
    width: 40%;
    height: 90%;
    top:50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid black;
    left:20px;
    float:left;
}